<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data of item {{ item_id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm30DgpJLTm9Nao0Yz1ztcQTwFspd3ybD65VohhpuuCOmLASjC" 
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <li>Showing data of {{ item_id }}</li>
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>6510742056</td>
                <td>Thitichaya</td>
                <td>Pounglaowech</td>
            </tr>
        </table>
    </div>
</body>
</html>
